/** 
 * ecc.network
 * 
 * @copyright Project ECC
 */
 
#faq-container {
    background: $ecc-grey-light;

    h1 {
        margin-bottom: 60px;
    }

    .qa {
        margin-bottom: 40px;
        
        .question {
            cursor: pointer;

            .icon {
                display: inline-block;
                width: 40px;
            }

            .fa {
                content: '\f054';
                font-family: FontAwesome;
                transition: padding .25s linear, transform .25s ease;
            }

            &:not(.collapsed) .fa {
                transform: rotate(90deg);
            }
        }
    }
}