/**
 * ecc.network
 *
 * @copyright Project ECC
 */

#block-explorers-header-container {
    background-attachment: fixed;
    background-image: url('/website/assets/img/background/about/block_explorers.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#block-explorers-body-container {
    background: $ecc-grey-light;
    font-size: 24px;

    #block-explorers-desc,
    #block-explorers-search-by {
        margin-bottom: 60px;
    }

    #block-explorers-search-by .animation {
        margin: 0 auto 15px;
        width: 210px;
    }

    #block-explorers-links {
        padding-bottom: 60px;

        .block-explorer-btn {
            margin-bottom: -185px;
            margin-left: -180px;
        }

        .block-explorer-preview {
            width: 100%;
        }
    }
}

@media (max-width: 768px) {
    #block-explorers-body-container {
        #block-explorers-search-by {
            > div:first-of-type {
                margin-bottom: 30px;
            }
        }

        #block-explorers-links {
            .block-explorer-btn {
                margin-left: -65px;
                margin-bottom: -101px;
                width: 80%;
            }

            .block-explorer-preview {
                width: 200%;
                margin-left: -55%;
            }
        }
    }
}
