/**
 * ecc.network
 *
 * @copyright Project ECC
 */

#get-ecc-container {
    background-attachment: fixed;
    background-image: url('/website/assets/img/background/about/exchanges.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    #how-to-buy-header {
        margin-bottom: 30px;
        margin-top: 90px;

        > h2 {
            color: $ecc-white;
        }
    }

    .how-to-buy-container {
        margin-bottom: 90px;

        .video-thumbnail {
            background-color: $ecc-white;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 5px;
            cursor: pointer;
            height: 280px;
            margin-bottom: 30px;
            padding: 0;
            width: 100%;

            &:hover {
                background-color: lighten($ecc-grey, 25%);
            }
        }

        #coinexchange-video-toggle {
            background-image: url('/website/assets/img/coinexchange.png');
            background-size: 75%;
        }

        #cryptobridge-video-toggle {
            background-image: url('/website/assets/img/cryptobridge.png');
        }

        #troca-video-toggle {
            background-image: url('/website/assets/img/troca.ninja.png');
            background-size: 80%;
        }

        #c-patex-video-toggle {
            background-image: url('/website/assets/img/c-patex.png');
            background-size: 60%;
        }
    }

    #download-wallet-btn {
        margin-top: 60px;
    }
}

@media (max-width: 992px) {
    #get-ecc-container {
        #how-to-buy-container {
            .exchange-container {
                margin-bottom: 30px;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }
}
