<footer>
    <div class="container">
        <div class="row nav-row">
            <div class="col-md-4">
                <img src="{{ "/assets/img/world.svg" | prepend: site.baseurl }}" class="world-img">
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <fieldset>
                            <legend>Resources</legend>
                                <a href="{{ "/block_explorers" | prepend: site.baseurl }}" target="_self">
                                    Block Explorers
                                </a>
                                <a href="{{ "/exchanges" | prepend: site.baseurl }}" target="_self">
                                    Exchanges
                                </a>
                                <a href="https://github.com/project-ecc/" target="_blank">
                                    Github
                                </a>
                                <a href="{{ "/wallets" | prepend: site.baseurl }}" target="_self">
                                    Wallets
                                </a>
                        </fieldset>
                    </div>
                    <div class="col-md-6">
                        <fieldset>
                            <legend>Media</legend>
                                <a href="https://bitcointalk.org/index.php?topic=1006830" target="_blank">
                                    Bitcointalk
                                </a>
                                <a href="https://discord.gg/BYBhQVq" target="_blank">
                                    Discord
                                </a>
                                <a href="https://medium.com/@project_ecc/latest" target="_blank">
                                    News
                                </a>
                                <a href="https://www.reddit.com/r/ecc/" target="_blank">
                                    Reddit
                                </a>
                                <a href="https://t.me/joinchat/F_LCJQ0vhFFknOSMgxHPAw" target="_blank">
                                    Telegram
                                </a>
                                <a href="https://twitter.com/project_ecc" target="_blank">
                                    Twitter
                                </a>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
        <div class="row credit-row">
            <div class="brand">
                <a href="/"><img src="{{ "/assets/img/ecc_logo_white.svg" | prepend: site.baseurl }}"> ECC</a>
            </div>
            <div class="social-icons">
                <a href="https://discord.gg/BYBhQVq"><img src="{{ "/assets/img/social/discord.svg" | prepend: site.baseurl }}"></a>
                <a href="https://github.com/project-ecc/"><img src="{{ "/assets/img/social/github.svg" | prepend: site.baseurl }}"></a>
                <a href="https://www.reddit.com/r/ecc/"><img src="{{ "/assets/img/social/reddit.svg" | prepend: site.baseurl }}"></a>
                <a href="https://t.me/joinchat/F_LCJQ0vhFFknOSMgxHPAw"><img src="{{ "/assets/img/social/telegram.svg" | prepend: site.baseurl }}"></a>
                <a href="https://twitter.com/project_ecc"><img src="{{ "/assets/img/social/twitter.svg" | prepend: site.baseurl }}"></a>
            </div>
            <div class="copyright">
                © 2018-2019 The Eccoin Developers, All Rights Reserved
            </div>
        </div>
    </div>
</footer>
<script src="{{ "/assets/js/vendor/jquery.min.js" | prepend: site.baseurl }}" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="{{ "/assets/js/vendor/jquery-modal-video.min.js" | prepend: site.baseurl }}" integrity="sha256-wtIlYXK357n7ZfU0zukSiHtEKprtEbbEfky4wmk809I=" crossorigin="anonymous"></script>
<script src="{{ "/assets/js/vendor/popper.min.js" | prepend: site.baseurl }}"  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="{{ "/assets/js/vendor/bootstrap.min.js" | prepend: site.baseurl }}" integrity="sha256-CjSoeELFOcH0/uxWu6mC/Vlrc1AARqbm/jiiImDGV3s=" crossorigin="anonymous"></script>
<script src="{{ "/assets/js/vendor/modal-video.min.js" | prepend: site.baseurl }}" integrity="sha256-Ci2Wk1JI8ydfspWPFzi+NpmjThl0yn1+CKcAx1WkOJI=" crossorigin="anonymous"></script>
<script src="{{ "/assets/js/vendor/lottie.js" | prepend: site.baseurl }}" integrity="sha256-MhfDqlC99oZrAqtqLMNTXviX0DutZEEUSlUh6pVYoi4=" crossorigin="anonymous"></script>
<script src="{{ "/assets/js/ecc.js" | prepend: site.baseurl }}"></script>
