<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="The home page for ECC">
        <meta name="author" content="The Eccoin Developers">
        <meta name="keywords" content="ecc,crypto,decentralized,cryptocurrency">

        <link href="{{ "/assets/css/vendor/fontawesome.min.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css">
        <link href="{{ "/assets/css/vendor/modal-video.min.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css">

	<link rel="stylesheet" href="{{ "/assets/css/ecc.css" | prepend: site.baseurl }}">

        <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/favicon/apple-touch-icon.png" | prepend: site.baseurl }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/favicon/favicon-32x32.png" | prepend: site.baseurl }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/favicon/favicon-16x16.png" | prepend: site.baseurl }}">
        <link rel="manifest" href="{{ "/assets/favicon/manifest.json" | prepend: site.baseurl }}">
        <link rel="mask-icon" href="{{ "/assets/favicon/safari-pinned-tab.svg" | prepend: site.baseurl }}" color="#1F3047">
        <meta name="theme-color" content="#1F3047">

        <title>ECC Network</title>
    </head>
    <body class="<% if (typeof no_scroll != 'undefined') { %>no-scroll <% } %><% if (typeof light_page != 'undefined') { %>page-light <% } %>">
        <header>
            <div class="container navbar navbar-expand">
                <div id="mobile-nav-toggle">
                    <span class="fa fa-bars"></span>
                </div>
                <div class="navbar-header mr-auto">
                    <a href="{{ "/" | prepend: site.baseurl }}" class="navbar-brand">
                        <img id="header-logo-color" src="{{ "/assets/img/ecc_logo.svg" | prepend: site.baseurl }}">
                        <img id="header-logo-white" src="{{ "/assets/img/ecc_logo_white.svg" | prepend: site.baseurl }}">
                        ECC
                    </a>
                </div>
                <div class="navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto">
                        <li class=" ">
                            <a href="{{ "/about" | prepend: site.baseurl }}" target="_self">About</a>
                        </li>
                        <li class=" ">
                            <a href="{{ "/docs" | prepend: site.baseurl }}" target="_self">Docs</a>
                        </li>
                        <li class=" ">
                            <a href="{{ "/donate" | prepend: site.baseurl }}" target="_self">Donate</a>
                        </li>
                        <li class=" ">
                            <a href="https://github.com/project-ecc/ECC-Wiki/wiki" target="_blank">Wiki</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources</a>
                            <ul class="dropdown-menu dropdown-menu-right">
								<li>
                                    <a href="{{ "/wallets" | prepend: site.baseurl }}" target="_self">
                                        Wallets
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ "/exchanges" | prepend: site.baseurl }}" target="_self">
                                        Exchanges
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ "/block_explorers" | prepend: site.baseurl }}" target="_self">
                                        Block Explorers
                                    </a>
                                </li>
                                <li>
                                    <a href="https://github.com/project-ecc/" target="_blank">
                                        Github
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown ">
                            <a href="{{ "#" | prepend: site.baseurl }}" class="dropdown-toggle" data-toggle="dropdown">Media</a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="https://bitcointalk.org/index.php?topic=1006830" target="_blank">
                                        Bitcointalk
                                    </a>
                                </li>
                                <li>
                                    <a href="https://discord.gg/BYBhQVq" target="_blank">
                                        Discord
                                    </a>
                                </li>
                                <li>
                                    <a href="https://medium.com/@project_ecc/latest" target="_blank">
                                        News
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.reddit.com/r/ecc/" target="_blank">
                                        Reddit
                                    </a>
                                </li>
                                <li>
                                    <a href="https://t.me/joinchat/F_LCJQ0vhFFknOSMgxHPAw" target="_blank">
                                        Telegram
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/project_ecc" target="_blank">
                                        Twitter
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <div id="mobile-navbar-menu" class="container">
                    <a href="{{ "/about/team" | prepend: site.baseurl }}" target="_self" class="">
                        About
                    </a>
                    <a href="{{ "/donate" | prepend: site.baseurl }}" target="_self" class="">
                        Donate
                    </a>
                    <a href="https://github.com/project-ecc/ECC-Wiki/wiki" target="_blank" class="">
                        Wiki
                    </a>
                    <a href="#mobile-navbar-resources" class="collapsible collapsed" data-toggle="collapse">
                        Resources
                    </a>
                    <div id="mobile-navbar-resources" class="collapse " data-parent="#mobile-navbar-menu">
                            <a href="{{ "/block_explorers" | prepend: site.baseurl }}" target="_self">
                                Block Explorers
                            </a>
                            <a href="{{ "/exchanges" | prepend: site.baseurl }}" target="_self">
                                Exchanges
                            </a>
                            <a href="https://github.com/project-ecc/" target="_blank">
                                Github
                            </a>
                            <a href="{{ "/wallets" | prepend: site.baseurl }}" target="_self">
                                Wallets
                            </a>
                    </div>
                    <a href="#mobile-navbar-social_media" class="collapsible collapsed" data-toggle="collapse">
                        Media
                    </a>
                    <div id="mobile-navbar-social_media" class="collapse " data-parent="#mobile-navbar-menu">
                            <a href="https://bitcointalk.org/index.php?topic=1006830" target="_blank">
                                Bitcointalk
                            </a>
                            <a href="https://discord.gg/BYBhQVq" target="_blank">
                                Discord
                            </a>
                            <a href="https://medium.com/@project_ecc/latest" target="_blank">
                                News
                            </a>
                            <a href="https://www.reddit.com/r/ecc/" target="_blank">
                                Reddit
                            </a>
                            <a href="https://t.me/joinchat/F_LCJQ0vhFFknOSMgxHPAw" target="_blank">
                                Telegram
                            </a>
                            <a href="https://twitter.com/project_ecc" target="_blank">
                                Twitter
                            </a>
                    </div>
        </div>
