/** 
 * ecc.network
 * 
 * @copyright Project ECC
 */

$ecc-white: #FFFFFF;
$ecc-orange: #DB8F27;
$ecc-blue: #1F3047;
$ecc-blue-med: #7A8BA1;
$ecc-blue-light: #2A8DFB;
$ecc-blue-grey: #4F5B6C;
$ecc-grey: #6F6F6F;
$ecc-grey-light: #E7E7E7;
$ecc-grey-light-rgba-opaque: rgba(231, 231, 231, 1);
$ecc-grey-light-rgba-transparent: rgba(231, 231, 231, 0);

$footer-height: 350px;

$theme-colors: (
    'primary': $ecc-orange
);

$btn-primary-color: $ecc-white;