/** 
 * ecc.network
 * 
 * @copyright Project ECC
 */

.donation-address-container > input {
    font-family: monospace;
}

#donate-header-container {
    background-attachment: fixed;
    background-image: url('/website/assets/img/background/donate.png');
    background-position: center top;
    background-repeat: no-repeat;
}

#donate-body-container {
    .section-title,
    .dev-fund-desc {
        margin-bottom: 30px;
    }

    .nav-tabs {
        border-bottom: 0;
        margin-top: 45px;

        .nav-link {
            @extend .caps;
            border: 0;
            color: darken($ecc-grey-light, 15%);
            font-weight: 700;
            padding: 0 1rem;

            &.active {
                border-bottom: 4px solid $ecc-orange;
                color: $ecc-blue-grey;
            }
        }
    }

    .no-goals {
        margin: 0 auto 30px;
        font-style: italic;
    }

    .community-goal {
        border: 1px solid $ecc-grey-light;
        border-radius: 4px;
        box-shadow: 0 0 10px $ecc-grey-light;
        flex: 0 0 30%;
        margin: 0 auto 30px;
        max-width: 30%;
        padding: 20px;

        .goal-to-go {
            @extend .caps;
            color: darken($ecc-grey-light, 15%);
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 15px;
        }

        h3 {
            border-bottom: 2px solid darken($ecc-grey-light, 15%);
            margin-bottom: 15px;
        }

        .goal-details-container {
            text-align: center;

            .goal-donation-count {
                font-size: 24px;
                font-weight: 400;
                margin-bottom: 15px;
            }

            .goal-progress-circle {
                height: 250px;
                width: 250px;
            }

            .goal-desc {
                margin-bottom: 90px;
                margin-top: -180px;

                .goal-current-btc-total,
                .goal-goal-btc-total {
                    font-size: 30px;
                    font-weight: 400;
                }
            }
        }
    }

    .goal-modal {
        .modal-dialog {
            max-width: 768px;

            h3 {
                border-bottom: 2px solid $ecc-grey-light;
                display: inline-block;
                padding: 0 15px 5px;
                margin-bottom: 30px;
            }

            .goal-desc {
                margin-bottom: 30px;
            }
        }
    }

    .donation-addresses-container {
        margin: 0 auto 15px;
        max-width: 660px;

        .input-group-prepend .input-group-text {
            background: transparent;

            img.crypto-icon {
                height: 26px;
                width: 26px;
            }
        }

        .donation-address-input {
            font-weight: normal;
            font-family: monospace;
        }

        a:hover {
            color: $ecc-blue;

            &:first-of-type {
                border-right-color: $ecc-blue;
            }
        }
    }

    .community-goals-disclaimer {
        margin-bottom: 60px;
        text-align: center;
    }

    .dev-fund-container {
        margin-bottom: 60px;
    }

    .update-notice {
        position: relative;
        text-align: center;

        &:before {
            border-top: 2px solid $ecc-grey-light;
            content: "";
            left: 0;
            position: absolute;
            top: 50%;
            width: 100%;
            z-index: -1;
        }

        > small {
            background: $ecc-white;
            font-style: italic;
            padding: 15px;
        }
    }
}

@media (max-width: 992px) {
    #donate-body-container {
        .community-goal {
            flex: 0 0 45%;
            max-width: 45%;
        }
    }
}

@media (max-width: 768px) {
    #donate-body-container {
        .community-goals-header-container {
            text-align: center;
        }

        .communit-goals-tabs-container {
            .justify-content-end {
                justify-content: inherit !important;
                margin-bottom: 35px;
                margin-top: 0;

                .nav-item {
                    margin: auto;
                }
            }
        }

        .community-goal {
            flex: 0 0 90%;
            max-width: 90%;
        }
    }
}
