/** 
 * ecc.network
 * 
 * @copyright Project ECC
 */

#wallet-help-section {
    .help-description {
        margin-bottom: 30px;
        margin-top: 15px;
    }
    
    .btn {
        margin-bottom: 30px;
        width: 100%;
    }
}