{% include _header.html %}

<section id="our-team-header-container">
	<div class="container">
        <h1 class="fade-in">Our Team</h1>
    </div>
</section>

<section id="our-team-overview-container">
    <div class="container">
        <div class="team-detail">
            <h2 class="section-title">What is ECC?</h2>
            <p>ECC is an open-source project focused on providing more freedom on the internet through the use of blockchain techology. Blockchain has more uses than electronic cash and we believe that it can also be used to solve the problems of censorship and personal data exploitation that run rampant on the internet today.</p>
        </div>

        <div class="team-detail">
            <h2 class="section-title">Who is ECC?</h2>
            <p>ECC is a community driven project. Simply stated, this means that there is no business or registered company running the ECC project. It consists entirely of volunteers who spend their time contributing to the progression of the ECC. There is a multi-disiplinary community of actively involved people helping out with the coin and voicing their opinions on what should and could happen next.<br> <br> Everyone is free to share ideas in the ECC community, from functions the coin could possibly have in the future, to the best way to get listed on new exchanges, or to how best raise awareness of the project. We encourage those involved to ask questions and share their concerns in a constructive manner. By speaking up you might find that there might be others who share those same ideas as you and who are willing to team up with you to create a solution to solve the problem.</p>
        </div>
    </div>
</section>

<section id="our-team-members-container">
    <div class="container">
        <div class="team-detail team-members">
            <div class="discipline">
                <h2 class="section-title">Collaborators and Contributors</h2>
                <p>Everyone is free to propose code changes and to test, review, and comment on open Pull Requests. Anyone who contributes code, reviews, or tests any part of the ECC project is considered a contributor. Collaborators are a subset of contributors that also have commit access and perform a janitorial role merging patches from other contributors. They also act as a final check to ensure that patches are safe and in line with the project goals. A list of contributors for the different parts of the project can be found below.</p>
                <div class="row">
                    <div class="col-sm-4">
                        <a href="https://github.com/project-ecc/eccoin/graphs/contributors" target="_blank">Eccoin Contributors</a>
                    </div>
                    <div class="col-sm-4">
                        <a href="https://github.com/project-ecc/electrum-ecc/graphs/contributors" target="_blank">Electrum-ECC Contributors</a>
                    </div>
                    <div class="col-sm-4">
                        <a href="https://github.com/project-ecc/lynx/graphs/contributors" target="_blank">Lynx Contributors</a>
                    </div>
                    <div class="col-sm-4">
                        <a href="https://github.com/project-ecc/sapphire/graphs/contributors" target="_blank">Sapphire Contributors</a>
                    </div>
                </div>
            </div>
<!--
        <div class="team-detail">
            <h2 class="section-title">Supporters</h2>
            <div class="row">
                <div class="col-md-2 partner twoohonelabs">
                    <a href="https://201labs.com" target="_blank"><img src="/assets/img/201labs.svg"></a>
                </div>
                <div class="col-md-3 partner amplitudo">
                    <a href="https://www.amplitudo.me" target="_blank"><img src="/assets/img/amplitudo.svg"></a>
                </div>
                <div class="col-md-2 partner thebullpenpodcast">
                    <a href="http://thebullpenpodcast.io/" target="_blank"><img src="/assets/img/bullpenpodcast.png"></a>
                </div>
                <div class="col-md-3 partner incrementors">
                    <a href="https://www.incrementors.com" target="_blank"><img src="/assets/img/incrementors.png"></a>
                </div>
                <div class="col-md-2 partner video4commerce">
                    <a href="http://www.video4commerce.nl" target="_blank"><img src="/assets/img/video4commerce.svg"></a>
                </div>
            </div>
        </div>
-->
    </div>
</section>

{% include _footer.html %}
