{% include _header.html %}

<section id="block-explorers-header-container">
	<div class="container">
        <h1 class="fade-in">Block Explorers</h1>
    </div>
</section>

<section id="block-explorers-body-container">
    <div class="container text-center">
        <div id="block-explorers-desc" class="row">
            <div class="offset-sm-1 col-sm-10"><strong>Block Explorers</strong> are an online blockchain browser which display the contents of individual ECC blocks, transaction histories and the balance of wallet addresses.</div>
        </div>
        <div id="block-explorers-search-by" class="row">
            <div class="offset-md-2 col-md-4">
                <div id="tx-search-animation" class="animation"></div>
                <strong>Search for a transaction</strong>
            </div>
            <div class="col-md-4">
                <div id="addr-search-animation" class="animation"></div>
                <strong>Search for an address</strong>
            </div>
        </div>
        <div id="block-explorers-links" class="row">
            <a href="https://chainz.cryptoid.info/ecc/" target="_blank">
                <img class="block-explorer-btn" src="{{ "/assets/img/visit-cryptoid.png" | prepend: site.baseurl }}">
                <img class="block-explorer-preview" src="{{ "/assets/img/cryptoid.png" | prepend: site.baseurl }}">
            </a>
        </div>
    </div>
</section>

{% include _footer.html %}
<script src="{{ "/assets/js/about/block_explorers.js" | prepend: site.baseurl }}"</script>
